
$font-name : 'Roboto', sans-serif !important;
$font-name1 : 'PT Sans', sans-serif !important;
$font-name2 : 'Lato', sans-serif;
$font-name3 : 'Josefin Sans', sans-serif;;
$text-white : #ffffff;
$text-purple : #EF59A1;  
$bg-purple : #EF59A1; 
$font-weight-500 : 500;
$bg-gray : #EDF2F5;
$bg-black : #000000;